<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tony.daemon">

    <!-- 开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 屏幕解锁 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 网络变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- account sync -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".push.CoreService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.daemon.coreservice" />
            </intent-filter>
        </service>
        <service
            android:name=".push.CoreService$InnerService"
            android:process=":push" />

        <receiver
            android:name=".NotifyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="com.tony.daemon.alarm" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="com.tony.daemon.job" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="com.tony.daemon.notification" />
            </intent-filter>
        </receiver>

        <service android:name=".NotifyReceiver$NotifyService" />
        <service
            android:name=".NotifyReceiver$NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".ToolsService"
            android:enabled="true"
            android:exported="true"
            android:process=":tools" />

        <provider
            android:name=".sync.SyncAccountProvider"
            android:authorities="com.tony.daemon.provider"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service
            android:name=".sync.SyncAuthService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".NotifyReceiver$JobSchedulerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
